.aside {
    z-index: -1;
    float: left;
    position: relative;
    height: 90vh;
    padding: 25px;
    padding-top: 59.7px;
    border-right: 1px solid #00000066;
    box-shadow: #00000066 0.1px 0px 0.8px;
}

:host {
    background-color: #f00;
}