<div class="container mt-5">
    <form [formGroup]="farmForm">

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 mb-3">
                <label for="kindOfMineSelect" class="form-label">Tipo de mina:</label>
                <select id="kindOfMineSelect" name="mineNumber" class="form-select" formControlName="mineNumber">
                    <option *ngFor="let mine of mines" [value]="mine.index" [selected]="mine.index == 0">{{mine.color}}</option>
                </select>
            </div>
            <div class="col-4 mb-3">
                <label for="farmHoursPerDayInput" class="form-label">Tempo de Farm (Horas por dia):</label>
                <input type="number" class="form-control" id="farmHoursPerDayInput" max="24" min="1" formControlName="farmHoursPerDay" [ngClass]="{'is-invalid':farmForm.get('farmHoursPerDay')?.invalid}">
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 mb-3">
                <label for="farmDaysPerMonthInput" class="form-label">Dias por mês:</label>
                <input type="number" class="form-control" id="farmDaysPerMonthInput" max="31" min="1" formControlName="farmDaysPerMonth" [ngClass]="{'is-invalid':farmForm.get('farmDaysPerMonth')?.invalid}">
            </div>
            <div class="col-4 mb-3">
                <label for="numberOfCharsInput" class="form-label">Personagens:</label>
                <input type="number" class="form-control" id="numberOfCharsInput" max="100" min="1" formControlName="numberOfChars" [ngClass]="{'is-invalid':farmForm.get('numberOfChars')?.invalid}">
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 mb-3">
                <label for="dracoInDolarsInput" class="form-label">Draco em U$D:</label>
                <input type="number" class="form-control" id="dracoInDolarsInput" step="0.00001" min="0.00001" formControlName="dracoInDolars" [ngClass]="{'is-invalid':farmForm.get('dracoInDolars')?.invalid}">
            </div>
            <div class="col-4 mb-3">
                <label for="dolarQuoteInput" class="form-label">Cotação do dólar:</label>
                <input type="number" readonly class="form-control" id="dolarQuoteInput" max="100" min="1" formControlName="dolarQuote" [ngClass]="{'is-invalid':farmForm.get('dolarQuote')?.invalid}">
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 mb-3">
                <label for="boostPercentInput" class="form-label">Farm Boost [%]:</label>
                <input type="number" class="form-control" id="boostPercentInput" step="0.01"formControlName="boostPercent" [ngClass]="{'is-invalid':farmForm.get('boostPercent')?.invalid}">
            </div>
            <!-- <div class="col-4 mb-3">
                <label for="dolarQuoteInput" class="form-label">Cotação do dólar:</label>
                <input type="number" readonly class="form-control" id="dolarQuoteInput" max="100" min="1" formControlName="dolarQuote" [ngClass]="{'is-invalid':farmForm.get('dolarQuote')?.invalid}">
            </div>
            <div class="col-3"></div> -->
        </div>
      </form>
</div>


<div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-8">
        <h5>Resultados:</h5>
    </div>
</div>
<div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><img class="result-icon" src="../../../../assets/darksteel.png"></th>
                    <th scope="col"><img class="result-icon" src="../../../../assets/draco.png"></th>
                    <th scope="col"><img class="result-icon" src="../../../../assets/dolar.png"></th>
                    <th scope="col"><img class="result-icon" src="../../../../assets/real.png"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of results">
                    <th scope="row">{{result.title}}</th>
                    <td>{{result.darkSteel | number: '1.0-0'}}</td>
                    <td>{{result.draco | number: '1.2-2'}}</td>
                    <td>{{result.dolar | number: '1.2-2'}} U$D</td>
                    <td>{{result.real  | number: '1.2-2'}} R$</td>
                </tr>
            </tbody>
      </table>
    </div>
</div>