<div class="container mt-5">
    <form [formGroup]="farmForm">

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 mb-3">
                <label for="kindOfMineSelect" class="form-label">Tipo de mina:</label>
                <select id="kindOfMineSelect" name="mineNumber" class="form-select" formControlName="mineNumber">
                    <option *ngFor="let mine of mines" [value]="mine.index" [selected]="mine.index == 0">{{mine.color}}</option>
                </select>
            </div>
            <div class="col-4 mb-3">
                <label for="farmHoursPerDayInput" class="form-label">Tempo de Farm (Horas por dia):</label>
                <input type="number" class="form-control" id="farmHoursPerDayInput" max="24" min="1" formControlName="farmHoursPerDay" [ngClass]="{'is-invalid':farmForm.get('farmHoursPerDay')?.invalid}">
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 mb-3">
                <label for="farmDaysPerMonthInput" class="form-label">Dias por mês:</label>
                <input type="number" class="form-control" id="farmDaysPerMonthInput" max="31" min="1" formControlName="farmDaysPerMonth" [ngClass]="{'is-invalid':farmForm.get('farmDaysPerMonth')?.invalid}">
            </div>
            <div class="col-4 mb-3">
                <label for="numberOfCharsInput" class="form-label">Personagens:</label>
                <input type="number" class="form-control" id="numberOfCharsInput" max="100" min="1" formControlName="numberOfChars" [ngClass]="{'is-invalid':farmForm.get('numberOfChars')?.invalid}">
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 mb-3">
                <label for="dracoInDolarsInput" class="form-label">Draco em U$D:</label>
                <input type="number" class="form-control" id="dracoInDolarsInput" step="0.00001" min="0.00001" formControlName="dracoInDolars" [ngClass]="{'is-invalid':farmForm.get('dracoInDolars')?.invalid}">
            </div>
            <div class="col-4 mb-3">
                <label for="dolarQuoteInput" class="form-label">Cotação do dólar:</label>
                <input type="number" readonly class="form-control" id="dolarQuoteInput" max="100" min="1" formControlName="dolarQuote" [ngClass]="{'is-invalid':farmForm.get('dolarQuote')?.invalid}">
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 mb-3">
                <label for="boostPercentInput" class="form-label">Farm Boost [%]:</label>
                <mat-icon
                        mat-raised-button
                        matTooltip="Aumento de ganho na mineração de Dark Steel.
                        Boost dado ao evoluir a 'Mina' em 'Conquista'."
                        matTooltipPosition="right">info_outline
                    </mat-icon>
                <input type="number" class="form-control" id="boostPercentInput" step="0.01"formControlName="boostPercent" [ngClass]="{'is-invalid':farmForm.get('boostPercent')?.invalid}">
            </div>
            <div class="col-4 mb-3">
                <label for="farmCicleInput" class="form-label">Ciclo de coleta:</label>
                <mat-icon
                        mat-raised-button
                        matTooltip="Tempo em segundos em que o ciclo de mineração ou recolhimento ocorre."
                        matTooltipPosition="right">info_outline
                    </mat-icon>
                <input type="number" class="form-control" id="farmCicleInput" max="10" min="1" formControlName="farmCicle" [ngClass]="{'is-invalid':farmForm.get('farmCicle')?.invalid}">
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 mb-3">
                <label for="derbyInput" class="form-label">Derby:
                    <mat-icon
                        mat-raised-button
                        matTooltip="Taxa de câmbio de Dark Steel por DRACO."
                        matTooltipPosition="right">info_outline
                    </mat-icon>
                </label>
                <input type="number" class="form-control" id="derbyInput" formControlName="derby" [ngClass]="{'is-invalid':farmForm.get('derby')?.invalid}">
            </div>
            <!-- <div class="col-4 mb-3">
                <label for="farmCicleInput" class="form-label">Tempo de ciclo de coleta [seg]:</label>
                <input type="number" class="form-control" id="farmCicleInput" max="10" min="1" formControlName="farmCicle" [ngClass]="{'is-invalid':farmForm.get('farmCicle')?.invalid}">
            </div>
            <div class="col-3"></div> -->
        </div>
      </form>
</div>

<app-mir4results [formValid]="farmForm.valid" [results]="results"></app-mir4results>